<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="link-wrapper">
            <a th:href="@{/gpsTracks(page=1)}">Latest tracks</a>
            <a th:href="@{/gpsTracks/home}">Upload track</a>
        </div>

        <div>
            <span class="label">Name: </span><span th:text="${gps.metadata.name}"></span><br/>
            <span class="label">Description: </span><span th:text="${gps.metadata.desc}"></span><br/>
            <span class="label">Author: </span><span th:text="${gps.metadata.author}"></span><br/>
            <span class="label">Time: </span><span th:text="${gps.metadata.time}"></span><br/>
            <span class="label">Way points:</span>
        </div>

        <div>
            <ul>
                <li th:each="wayPoint : ${gps.wayPoints}" th:text="${wayPoint}"></li>
            </ul>

            <span class="label">Track points:</span>
            <ul>
                <li th:each="trackPoint : ${gps.trackPoints}" th:text="${trackPoint}"></li>
            </ul>
        </div>

    </body>
</html>