<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="link-wrapper">
            <a th:href="@{/gpsTracks/home}">Upload track</a>
        </div>
        <h3>Latest tracks</h3>
        <div>
            <ul>
                <li th:each="gps : ${gpsData.content}">
                    <h3><a th:href="@{/gpsTracks/{id}(id=${gps.id})}" th:text="${gps.metadata.name}" /></h3>
                    <span th:text="${gps.metadata.desc}"></span>
                </li>
            </ul>
        </div>
        <div>
            <a th:each="page : ${pages}" th:text="${page}" th:href="@{/gpsTracks(page=${page})}"></a>
        </div>
    </body>
</html>