<html xmlns:th="https://www.thymeleaf.org">
    <body>
    <a type="button" th:href="@{/gpsTracks(page=1)}">Latest tracks</a><br/>
        <div>
            <form method="POST" enctype="multipart/form-data" action="/gpsTracks">
                <h3>Upload track Available formats: kml, gpx, plt, gdb</h3>
                <table>
                    <tr><td><input type="file" name="file" /></td></tr>
                    <tr><td><input type="submit" value="Save" /></td></tr>
                </table>
            </form>
        </div>
    </body>
</html>